.secc-2 {
    height: 468px;
    display: grid;
    grid-template-areas: "parte1 parte2";
    grid-template-columns: 530px 1fr;
    color: white;

    .secc2_p1 {
        grid-area: parte1;
        background-image: url(../../tennis_png/ball-color-court_R.png);
        padding-top: 38px;
        padding-right: 50px;
        padding-left: 200px;

        .title_p {
            font-size: 50px;
            span {
                font-weight: bold;
            }
        }

        .subtitle_p {
            padding-top: 13px;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.51px;
        }

        .points {
            margin-top: 20px;
            margin-bottom: 30px;
            .point_secc2 {
                margin-right: 24px;
            }
        }

        .plays {
            width: 127px;
            display: flex;
            justify-content: space-between;
            .play_der {
                height: 54px;
                width: 54px;
                border-radius: 50%;
                background-color: $verde;
                text-align: center;
            }

            #playDer {
                position: relative;
                top: 20px;
            }

            .play_izq {
                height: 54px;
                width: 54px;
                border-radius: 50%;
                background-color: transparent;
                border: 1px solid white;
                text-align: center;

                #playIzq {
                    position: relative;
                    top: 20px;
                    transform: rotate(180deg);
                }
            }
        }
    }

    .secc2_p2 {
        grid-area: parte2;
        padding-top: 51px;
        padding-left: 52px;
        padding-bottom: 73px;
        display: flex;

        .circulo {
            padding-right: 36px;

            .circ_v {
                color: white;
                background-color: $verde;
                border-radius: 50%;
                width: 39px;
                height: 39px;
                text-align: center;
                line-height: 40px;
                position: absolute;
                margin-top: 11px;
                margin-left: 17px;
            }
        }
    }
}

//Versión móvil
@media screen and (min-width: 320px) and (max-width: 1219px) {
    .secc-2 {
        display: flex;
        flex-direction: column;
        height: 1000px;

        .secc2_p1 {
            padding: 20px;
           

            .title_p {
                text-align: center;
                font-size: 20px;
            }

            .subtitle_p {
                font-size: 15px;
            }

            .points {
                margin-left: 25%;
                margin-right: 25%;
            }

            .plays {
                width: 100%;
            }
        }

        .secc2_p2 {
            padding: 0px;
            margin-top: 5px;
            flex-direction: column;

            .circulo {
                padding: 0px;
                margin: 5px auto;
            }

            #circulo3 {
                display: none;
            }
        }
    }
}
