.secc-1 {
    background-color: #f3f4f8;
    height: 392px;
    display: grid;
    width: 100%;
    grid-template-areas: "brand contenido boton";
    grid-template-columns: 1fr 555px 1fr;

    .brand_container {
        grid-area: brand;
        padding: 108px 51px 255px 255px;
        width: 100%;

        .brand {
            color: $verde;
            font-size: 15px;
            letter-spacing: 1.87px;
            line-height: 30px;
            text-align: right;
        }
    }

    .contenido_secc1 {
        grid-area: contenido;
        padding-top: 76px;
        padding-bottom: 67px;

        .titulo_secc1 {
            margin-bottom: 15px;
            height: 151px;

            h2 {
                color: #1e2335;
                font-size: 50px;
                line-height: 1.14;
                letter-spacing: -0.06px;
            }
        }

        .parrafo_secc1 {
            height: 87px;
            width: 393px;
            color: #787878;
            font-size: 18px;
            line-height: 1.78;
            letter-spacing: 0.51px;
        }
    }

    .historia {
        color: #273048;
        background-image: url("../../tennis_png/path_R.png");
        background-repeat: no-repeat;
        background-position: 80% center;
        width: 234px;
        height: 53px;
        background-color: transparent;
        padding: 15px 38px;
        border-radius: 26.5px;
        border: solid 1px #282e47;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
        text-align: left;
        padding: 15px 38px;
        grid-area: boton;
        position: relative;
        top: 277px;
    }
}

//Versión móvil
@media screen and (min-width: 320px) and (max-width: 1219px) {
    .secc-1 {
        height: 300px;
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;

        .brand_container {
            padding: 0px;
            margin-bottom: 15px;
            

            .brand {
                text-align: center;
                font-size: 20px;
            }
        }

        .contenido_secc1 {
            padding: 0px;
            margin-bottom: 15px;

            .titulo_secc1 {
                height: 50px;

                h2 {
                    font-size: 20px;
                    text-align: center;
                }
            }

            .parrafo_secc1 {
                width: 100%;
                padding: 0px 10%;
                font-size: 15px;
            }
        }

        .historia {
            padding: 0;
            top: 0px;
            margin: 0 auto;
            width: 40%;
            background-image: none;
            text-align: center;
        }
    }
}